<%= render 'users/list', user: @user,book: @newbook %>

<table class="table table-striped">
  <div class="container"> 
    <div class="row"> 

  <h2>Books</h2>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
</div>

</table>

