<%= render 'users/list', user: @user,book: @newbook %>

<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
  </table>
</div>

