<div class="container px-sm-0">
  <div class="row">
  <%= render 'users/list', user: @user,book: @newbook %>
    <div class="col-md-8 .offset-md-1">
      <h2>Users</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>

<%#= render 'post_images/book', post_images: @post_images %>
