<div>
  <%= flash[:notice] %>
</div>

<div class="container px-sm-0">
  <div class="row">
  <%= render 'users/list', user: @user,book: @newbook %>
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <h2>Books</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>
