<div>
  <%= flash[:notice] %>
</div>



<div class = "container">
  <div class="row">
    <h1 class="px-3 mx-auto">Welcome to</h1>
    <i class="fa-solid fa-book"></i>
    <h1 class="px-3 mx-auto">Bookers!</h1>
  </div>
</div>

<div class = "container">
  <div class="row">
    <div class="mx-auto col-6">
      <p>In 
        <i class="fa-solid fa-book"></i>
        Bookers,
      </p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>

    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="input-group-prepend">
      <span class="input-group-text, btn btn-lg btn-block btn-info mt-5" aria-hidden="true"><%= link_to "Log in", new_user_session_path %></span>
    </div>
    <div>
      <span class="input-group-text, btn btn-lg btn-block btn btn-success mt-5" aria-hidden="true"><%= link_to "Sign up", new_user_registration_path %></span>
    </div>
    <% end %>
    </div>
  </div>
</div>