<div class = "container">
   <div class="row">
    <div class="col-sm-12 col-lg-5 px-5 px-sm-0">
  
        <h2>welcome to Bookers !!</h2>
        <p>you can share and exchange your opinions , inpressions , and emotions</p>
        <p>about various books!</p>

      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
       <li>
        <%= link_to "Sing up", new_user_registration_path %>
      </li>
    </div>
  </div>
</div>